body {
  background-color: rgb(235, 235, 235);
}

.App{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;

}

.AppGlass{
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  grid-template-columns: auto auto 20rem;
}

@media screen and (max-width: 1200px) {
  .AppGlass{
   grid-template-columns: 10% 50% auto;
   overflow: scroll;
  }
}

@media screen and (max-width: 700px) {
  .AppGlass{
    grid-template-columns: 1fr;
  }
}
